# Core dependencies
setuptools>=69.0.3
wheel>=0.42.0
numpy==2.1.0  # Versión más nueva compatible con Python 3.12
numba  # Versión compatible con Python 3.12
torch
torchaudio>=2.2.0
torchvision>=0.17.0

# Audio & Speech
SpeechRecognition
PyAudio>=0.2.13
sounddevice==0.4.6
openai-whisper

# LLM & AI
openai>=1.12.0
llama-cpp-python
google-generativeai>=0.3.0
google-cloud-speech>=2.21.3
transformers

# Text-to-Speech
gTTS
pygame
pyttsx3==2.90

# Utils
python-dotenv
requests
psutil>=5.9.8
tqdm
prompt_toolkit>=3.0.0